.root {
    -fx-background-image: url("../images/43-436329_blue-purple-gradient-purple-blue-and-green.jpg");
    -fx-background-size: stretch;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

#friendRequestsButton {
    -fx-background-color: "0037A5";
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
    -fx-border-width: 0.6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

#friendRequestsButton:hover {
    -fx-background-color: rgba(255, 255, 255, .1);
}

#menu {
    -fx-background-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

.text-field {
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-background-color: rgba(255, 255, 255, .3);
    -fx-text-fill: white;
    -fx-border-width: 0.2;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
}

#logoutButton {
    -fx-background-color: "0037A5";
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-text-fill: white;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
    -fx-border-width: 0.6;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 10,0,0,1 );
}

#logoutButton:hover {
    -fx-background-color: rgba(255, 255, 255, .1);
}

.context-menu {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-translate-y: 16;
}

#menu {
    -fx-border-width: 0 0 0.6 0;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
}

.menu-item .label {
    -fx-padding: 10;
    -fx-text-fill: "#cccccc";
    -fx-background-radius: 50px;
    -fx-background-color: "#391339";
}

.menu-item:focused .label {
    -fx-text-fill: white;
    -fx-background-color: rgba(255, 255, 255, .1);
}