#nameLabel {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#friendsListVBox {
    -fx-background-color: rgba(255, 255, 255, .1);
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
    -fx-border-width: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
}

#scrollPane {
    -fx-background-color: transparent;
}

#friendsList {
    -fx-background-color: transparent;
}

#scrollPane .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
}

#profileVBox {
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-color: linear-gradient(to right top, #0c0537, #1c0c44, #2f0d51, #440c5c, #590766);
    -fx-border-width: 0.8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
    -fx-background-color: rgba(255, 255, 255, .1);
}

#messageButton {
    -fx-background-color: #4d4d4d;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.4;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
}

#friendButton {
    -fx-background-color: #2e2eb8;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0.4;
    -fx-font-size: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 0, 1);
}

#friendButton:hover {
    -fx-background-color: #000066;
}

#messageButton:hover {
    -fx-background-color: #262626;
}

#profilePicture {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
}